.story {
  &__pictures {
    /* Actually we can use url(/img/back.jpg) without the double dots. Because this means the lookup will start from root folder instead of specifying how many folders to move up. Sometimes, when we need to move up 2 folder levels, we need to use "../../" */
    background-image: linear-gradient(rgba($color-primary, 0.5), rgba($color-primary, 0.5)), url(../img/back.jpg);
    background-size: cover;
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    @media (max-width: $bp-medium) {
      grid-column: 1 / -1;
      padding: 6rem;
    }
  }

  &__img--1 {
    width: 100%;
    grid-area: 2/2/6/6;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);

    @media (max-width: $bp-medium) {
      /* This is really confusing to play around the grid col & row. */
      grid-area: 1/1/-1/5;
    }
  }

  &__img--2 {
    width: 115%;
    grid-area: 4/4/6/7;
    /* Here the z-index works without specifying its position value because img--2 got fixed by grid-row and grid-column  properties which works similar to position:fixed. */
    z-index: 10;
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);

    @media (max-width: $bp-medium) {
      grid-row: 1 / -1;
      width: 100%;
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;

    // Flexbox method:
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    //Grid method:
    /*  display: grid;
    align-content: center;
    justify-items: start; */

    @media (max-width: $bp-medium) {
      grid-column: 1 / -1;
      grid-row: 5 /6;
    }

    .heading-3 {
      margin-bottom: 2rem;
    }

    .heading-2 {
      margin-bottom: 3rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
